<div class="relative flex md:flex-row-reverse flex-col justify-start items-start gap-2 image-container">
    <img class="pt-2 w-full md:w-[80%]" [src]="mainImage" [alt]="product.name" />
    <div class="items-start gap-2 grid grid-cols-4 md:grid-cols-1 py-2 cursor-pointer images-container">
      <img 
        *ngFor="let item of product.images.nodes.slice(0, 4)" 
        (click)="setMainImage(item.url)" 
        class="w-auto" 
        [src]="item.url" 
        [alt]="product.name" />
    </div>
  </div>
  