<footer class="pb-10">
    <div class="container footer-container">
      <app-dropdown title="offline store">
        <li class="py-2 font-bold font-primaryFont text-sm underline">
          <a routerLink="/find-store">Find Store Near Me</a>
        </li>
      </app-dropdown>
      <app-dropdown title="GET TO KNOW US">
        <li class="py-2 font-primaryFont text-primary text-sm hover:text-secondary">
          <a routerLink="/contact">Contact Us</a>
        </li>
        <li class="py-2 font-primaryFont text-primary text-sm hover:text-secondary">
          <a routerLink="/faqs">FAQ'S</a>
        </li>
        <li class="py-2 font-primaryFont text-primary text-sm hover:text-secondary">
          <a routerLink="/blogs">Blogs</a>
        </li>
        <li class="py-2 font-primaryFont text-primary text-sm hover:text-secondary">
          <a routerLink="/terms">Terms & Conditions</a>
        </li>
      </app-dropdown>
      <app-dropdown title="TRACK OR RETURN/EXCHANGE ORDER">
        <li class="py-2 font-primaryFont text-primary text-sm hover:text-secondary">
          <a routerLink="/track-order">TRACK ORDER</a>
        </li>
        <li class="py-2 font-primaryFont text-primary text-sm hover:text-secondary">
          <a routerLink="/return-exchange">PLACE RETURN/EXCHANGE REQUEST</a>
        </li>
        <li class="py-2 font-primaryFont text-primary text-sm hover:text-secondary">
          <a routerLink="/return-policy">RETURNS/EXCHANGE POLICY</a>
        </li>
      </app-dropdown>
      <app-dropdown title="CUSTOMER CARE">
        <li class="py-2 font-primaryFont text-primary text-sm hover:text-secondary">
          <p>Timings: 10 AM - 7 PM (Mon - Sat)</p>
          <p>Whatsapp : +91 6366966283</p>
          <p>Instagram: {{'@snitch.co.in'}}</p>
        </li>
      </app-dropdown>
      <app-dropdown title="SIGN UP AND SAVE">
        <li class="py-2 font-primaryFont text-primary text-sm hover:text-secondary">
          <p>Sign up now and be the first to know about exclusive offers, latest fashion trends & style tips!</p>
        </li>
        <li class="flex justify-between items-center py-2 border-b-2 border-black w-[60%] font-primaryFont text-primary text-sm hover:text-secondary">
          <input type="text" class="focus:shadow-none px-2 border-none w-[80%] focus:outline-none rounded-none"
                 placeholder="Enter Your Email" />
          <span class="w-[10%] text-xl"><i class="fa-envelope fa-solid"></i></span>
          
        </li>

        <li class="mt-2 py-2 font-primaryFont text-primary text-sm hover:text-secondary">
          <p class="flex justify-self-start items-center gap-2">
            <span class="border-[1px] hover:bg-black px-3 p-2 border-black rounded-full text-2xl text-black hover:text-white cursor-pointer">
                <i class="fa-brands fa-twitter"></i>
            </span>
            <span class="border-[1px] hover:bg-black px-3 p-2 border-black rounded-full text-2xl text-black hover:text-white cursor-pointer">
                <i class="fa-brands fa-facebook"></i>
            </span>
            <span class="border-[1px] hover:bg-black px-3 p-2 border-black rounded-full text-2xl text-black hover:text-white cursor-pointer">
                <i class="fa-brands fa-instagram"></i>
            </span>
            <span class="border-[1px] hover:bg-black px-3 p-2 border-black rounded-full text-2xl text-black hover:text-white cursor-pointer">
                <i class="fa-brands fa-youtube"></i>          
              </span>
          </p>
        </li>
      </app-dropdown>
    </div>
    <div class="copyright-container mt-2 mb-[80px] font-primaryFont text-center">
      <span class="text-sm">© 2024 SNITCH - Parag Unhale</span>
      <p>Made in India, for the World 🌍</p>
    </div>
  </footer>
  