@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Fauna+One&family=Montserrat:ital@0;1&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --scrollbar-thumb-color: #b9b9b9;

}
body{
    width: 100%;
    scroll-behavior: smooth;
}
.container{
    margin: 0 auto !important;
}
@media (min-width: 1280px) {
  .container {
  max-width: 1280px !important;
  }
}

/* ScrollBar  */

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    scroll-behavior: smooth;
    cursor: pointer;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background:transparent
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    cursor: pointer;
  
    background: var(--scrollbar-thumb-color); 
  }
  