<!-- src/app/user-details-form/user-details-form.component.html -->
<div class="container">
    <div class="flex flex-col justify-start items-center bg-white shadow-md w-full">
      <div class="flex justify-between items-center p-3 border-b w-full heading">
        <h3 class="font-primaryFont font-semibold text-lg uppercase tracking-wider">
          Selected Products
        </h3>
      </div>
  
      <div class="cart-item-container overflow-y-scroll">
        <form [formGroup]="userDetailsForm" (ngSubmit)="onSubmitForm()" class="space-y-2 p-4 font-primaryFont container">
          <h1 class="py-2 font-secondaryFont font-semibold text-2xl underline underline-offset-[4px]">
            Enter Your Billing Address Information
          </h1>
          <div>
            <label for="fullName" class="block mb-1 text-sm">Full Name*</label>
            <input
              type="text"
              id="fullName"
              formControlName="fullName"
              placeholder="Enter your full name"
              class="focus:shadow-sm focus:shadow-blue-500 px-4 py-2 border focus:border-blue-500 rounded-lg w-full focus:outline-none"
            />
            <div *ngIf="userDetailsForm.get('fullName')?.touched && userDetailsForm.get('fullName')?.invalid" class="text-red-500 text-sm">
              Required
            </div>
          </div>
          <div>
            <label for="area" class="block mb-1 text-sm">Area / Building Name*</label>
            <input
              type="text"
              id="area"
              formControlName="area"
              placeholder="Enter your area/building name"
              class="focus:shadow-sm focus:shadow-blue-500 px-4 py-2 border focus:border-blue-500 rounded-lg w-full focus:outline-none"
            />
            <div *ngIf="userDetailsForm.get('area')?.touched && userDetailsForm.get('area')?.invalid" class="text-red-500 text-sm">
              Required
            </div>
          </div>
          <div>
            <label for="houseNumber" class="block mb-1 text-sm">House/Flat/Block number (Optional)</label>
            <input
              type="text"
              id="houseNumber"
              formControlName="houseNumber"
              placeholder="Enter your house/flat/block number"
              class="focus:shadow-sm focus:shadow-blue-500 px-4 py-2 border focus:border-blue-500 rounded-lg w-full focus:outline-none"
            />
          </div>
          <div>
            <label for="pinCode" class="block mb-1 text-sm">Pin code*</label>
            <input
              type="text"
              id="pinCode"
              formControlName="pinCode"
              placeholder="Enter your pin code"
              class="focus:shadow-sm focus:shadow-blue-500 px-4 py-2 border focus:border-blue-500 rounded-lg w-full focus:outline-none"
            />
            <div *ngIf="userDetailsForm.get('pinCode')?.touched && userDetailsForm.get('pinCode')?.invalid" class="text-red-500 text-sm">
              Required
            </div>
          </div>
          <div>
            <label for="city" class="block mb-1 text-sm">City*</label>
            <input
              type="text"
              id="city"
              formControlName="city"
              placeholder="Enter your city name"
              class="focus:shadow-sm focus:shadow-blue-500 px-4 py-2 border focus:border-blue-500 rounded-lg w-full focus:outline-none"
            />
            <div *ngIf="userDetailsForm.get('city')?.touched && userDetailsForm.get('city')?.invalid" class="text-red-500 text-sm">
              Required
            </div>
          </div>
          <div>
            <label for="email" class="block mb-1 text-sm">Email Address*</label>
            <input
              type="email"
              id="email"
              formControlName="email"
              placeholder="Enter your email"
              class="focus:shadow-sm focus:shadow-blue-500 px-4 py-2 border focus:border-blue-500 rounded-lg w-full focus:outline-none"
            />
            <div *ngIf="userDetailsForm.get('email')?.touched && userDetailsForm.get('email')?.invalid" class="text-red-500 text-sm">
              <div *ngIf="userDetailsForm.get('email')?.errors?.['required']">Required</div>
              <div *ngIf="userDetailsForm.get('email')?.errors?.['email']">Invalid email address</div>
            </div>
          </div>
          <button
            type="submit"
            class="bg-black hover:bg-gray-500 px-4 py-2 rounded-lg w-full text-white"
          >
            Next
          </button>
        </form>
      </div>
    </div>
  </div>
  